<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355776965801-fga5j83tpr96lb2gah31q9da957ihrgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355776965801-fga5j83tpr96lb2gah31q9da957ihrgi</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ3oepXSqczfmYb1nhpphIn1kTKeT4Guo</string>
	<key>GCM_SENDER_ID</key>
	<string>355776965801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendlyeats</string>
	<key>PROJECT_ID</key>
	<string>friendlyeats-3418b</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlyeats-3418b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355776965801:ios:c6af54614fe1a5856acdb8</string>
</dict>
</plist>